<section class="flex min-h-0 flex-1 flex-col bg-bg-card">
    <app-chat-header
        [name]="contactName()"
        [avatarUrl]="contactAvatar()"
        [isOnline]="isOnline()"
        [isGroup]="isGroup()"
        [memberCount]="memberCount()"
        (toggleInfo)="toggleInfo.emit()"
    />

    <app-message-list [messages]="messages()" (messageAction)="messageAction.emit($event)" />

    <app-chat-input-bar [replyTo]="replyTarget()" [editingMessage]="editTarget()"
        (send)="sendMessage.emit($event)" (sendAttachment)="sendAttachment.emit($event)"
        (saveEdit)="saveEdit.emit($event)" (cancelReply)="cancelReply.emit()" (cancelEdit)="cancelEdit.emit()" />
</section>